{
    email info@skywarditlabs.com
}

proxys.skywardailabs.com {
    reverse_proxy /api/* api:5000
}

ollama.skywardailabs.com {
    reverse_proxy http://3.233.39.174:8899
}

cms.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8022
}
