{
    email info@skywarditlabs.com
}

proxys.skywardailabs.com {
    reverse_proxy /api/* api:5000
}

ollama.skywardailabs.com {
    reverse_proxy http://3.233.39.174:8899
}

cms.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8022
}

frontendlcat.skywardailabs.com {
    reverse_proxy http://3.233.39.174:8291
}

backendlact.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8299
}

uat-swparse.skywardailabs.com {
    reverse_proxy http://52.202.108.42:8000
}
uat-fe-swparse.skywardailabs.com {
    reverse_proxy http://52.202.108.42
}
dev-swparse.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8000
}
dev-fe-swparse.skywardailabs.com {
    reverse_proxy http://3.215.80.255
}
askcedar.skywardailabs.com {
    reverse_proxy http://3.233.39.174:8022
}

skymcp.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8700
}

skymcp-backend.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8999
}

skymcp-llm.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8888
}

skymcp-server.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8900
}

foiakit-chat.skywardailabs.com {
    reverse_proxy http://3.215.80.255:8100
}
